*.swp
*.swo
*.pyc
tags
localsettings.py
recodoc2/localsettings.py
static/
!recodoc2/static/
*.pid
.coverage
htmlcov/
*~
ppa_new.log
*.class
scenarios/hibernate.txt
scenarios/htclient.txt
scenarios/joda.txt
scenarios/xstream.txt
